{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		[
			"import", {
			"libraryName": "antd",
			//			"libraryDirectory": "es",
			"style": true
		}
		],
		[
			"@babel/plugin-proposal-class-properties", {
			"loose": true
		}
		]
	],
	"env": {
		"development": {
			"presets": [
				[
					"@babel/preset-react", {
					"development": true
				}
				]
			]
		},
		"production": {
			"plugins": [
				[
					"transform-remove-console", {
					"exclude": ["error", "warn"]
				}
				]
			]
		}
	}
}
