{
	"parser": "babel-eslint",
	"plugins": ["prettier", "react"],
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true,
		"es6": true,
		"mocha": true,
		"jest": true,
		"jasmine": true
	},
	"extends": ["airbnb", "prettier", "prettier/react"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": "error",
		"react/jsx-filename-extension": [
			"warn",
			{
				"extensions": ["js", ".jsx"]
			}
		],
		"react/prop-types": "off",
		"linebreak-style": ["warn", "unix"],
		"react/destructuring-assignment": "off",
		"no-console": "off",
		"no-debugger": "off",
		"no-undef": "warn",
		"no-unused-vars": "warn",
		"no-use-before-define": "warn",
		"no-param-reassign": "warn",
		"guard-for-in": "warn",
		"no-restricted-syntax": "warn",
		"import/prefer-default-export": "warn",
		"import/no-mutable-exports": "warn",
		"array-callback-return": "warn",
		"import/no-unresolved": [
			"warn",
			{
				"ignore": ["^@/'", "^umi/", "^components/"]
			}
		],
		"import/no-extraneous-dependencies": "warn",
		"prefer-destructuring": "off"
	}
}
